.more-vedios-videos{
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
.more-videos h3{
    margin: 0 20px;
}
.more-videos{
    margin: 20px 20px;
    width: 50%;
    cursor: pointer;
}
.more-vedios-videos-details{
    display: flex;
    margin: 10px;
    text-align: left;
    color: #0891b2;
    align-items: flex-start;
}
.more-vedios-videos-details img{
    margin: 0px 10px;
}